@import "tailwindcss";
@source "../../packages/ui/src";

@theme {
    /* Primary (60%) - Soft White & Light Gray for backgrounds */
    --color-surface-primary: #F8FAFC;
    --color-surface-secondary: #EEF2F7;
    --color-surface-tertiary: #334155;
    --color-surface-quaternary: #F9FAFB;
    --color-card-bg: #F7F9FB;
    --color-green-back: #4EDEA3;
    /* Secondary (30%) - High Contrast for text & nav */
    --color-auth-navy: #0F172A;
    --color-auth-slate: #1E293B;

    /* Accent & Highlight (10%) - Status & Actions */
    --color-sol-emerald: #10B981;
    --color-sol-indigo: #6366F1;

    --color-text-grey: #76777D;
    --color-background-grey: #E0E3E5;
    --color-background-secondary-grey: #F7F9FB;


    /* Typography Settings mapped from Next.js Layout */
    --font-body: var(--font-inter), ui-sans-serif, system-ui;
    --font-heading: var(--font-manrope), ui-sans-serif, system-ui;
}

@layer base {
    body {
        /* This applies the 60% color automatically to the whole app */
        @apply bg-surface-primary text-auth-slate font-body;
        font-size: 18px;
    }

    /* Automatically apply the secondary color and font to headings */
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @apply font-heading text-auth-navy font-bold;
    }

    /* Modular Typography Scale */
    h1 {
        font-size: 72px;
    }

    h2 {
        font-size: 48px;
    }

    h3 {
        font-size: 36px;
    }

    h4 {
        font-size: 24px;
    }

    h5 {
        font-size: 20px;
    }

    h6 {
        font-size: 16px;
    }

    p {
        font-size: 18px;
    }

    small {
        font-size: 14.4px;
    }

    .text-tiny {
        font-size: 11.52px;
    }
}

/* text-sm (14px): The Dashboard Default. Use this for 80% of your app (table rows, form inputs, buttons, and card descriptions).
text-base (16px): Readable Text. Use this for longer paragraphs in your app, like reading a Lease Agreement or notifications.
text-xs (12px): Meta-data. Use this for things that are secondary, like timestamps ("Paid 2 hrs ago"), Solana wallet addresses, or small table headers. */